<table id="centered-table" class="ui very basic collapsing celled table ">
  <thead>
    <tr ><th >Book</th>
    <th >Author</th>
  </tr></thead>
  <% @books.each do |book| %>
    <tr ><td><div class="content"><%= link_to book.title[0..75], book %></div></td>
      <td><%=book.author %> </td>
    </tr>
  <% end %>
</table>
